:root {
/* Переменные font-size */
    --font-size-header: 60px;
    --font-size-subHeader: 40px;
    --font-size-link: 20px;
    --font-size-main: 18px;
    --font-size-info: 14px;

/* Переменные font-weight */
    --font-weight-main: 400;
  
/* переменные color */
    --font--color-link: #4C5866;
    --font--color-main: #85859B;
    --font--color-accent: #7875FE;

/* переменные анимации */
    --transition: .4s;
  }

body {
    font-family: 'Roboto', sans-serif;
  }

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center center;
  }

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
  }

/* Стили для Header */
.header {
    border-bottom: 1px solid #DDDDDD;
}
.header__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.header__logo {
    width: 140px;
    margin-right: 40px;
}
.header__nav {
    margin-right: 20px;
}
.header__nav ul {
    display: flex;
    font-size: var(--font-size-link);
    color: var(--font--color-link);
}
.header__nav ul li {
    position: relative;
    min-width: 52px;
    padding: 0 10px;
    transition: color var(--transition) ;
    cursor: pointer;
}
.header i {
    color: var(--font--color-link);
    font-size: 24px;
    cursor: pointer;
    transition: color var(--transition) ;
}
.header__nav ul li::after {
    position: absolute;
    content:"";
    width: 0;
    height: 1px;
    background: #7775feb3;
    bottom: 0;
    right: 0;
    left: 10px;
    transition: all .8s;   
} 
.header__nav ul li:hover::after {
    width: 84%;
}
.header__nav ul li:hover {
    display: inline;
    color: var(--font--color-accent);
}
.header i:hover {
    color: var(--font--color-accent);
}

@media (max-width: 690px) {
    .header__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .header__logo {
        padding: 0 10px;
        grid-area: 1 / 1 / 2 / 2; 
    }
    .header__content i {
        grid-area: 1 / 2 / 2 / 3;
        margin-right: 20px;
        text-align: right;
    }
    .header__nav {
        grid-area: 2 / 1 / 3 / 3;
        padding: 10px 0;
    }
    .header__nav ul {
        justify-content: space-between;
        padding-left: 10px;
    }
    .header__nav ul li {
        padding: 0;
    }
}
/* Стили для Main */

.main__content {
    display: flex;
    justify-content: space-between;

    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
}
.main__img {
    width: 540px;
}

.content h1 {
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-main);
    margin-bottom: 50px;
    color: var(--font--color-link);
}

.content p {
    max-width: 445px;
    font-size: var(--font-size-main);
    color: var(--font--color-main);
    margin-bottom: 50px;
}

@media (max-width: 690px) {
    .content h1 {
        font-size: 50px;
    }
    .content p {
        font-size: 18px;
    }
}
/* Стили для карточек результата*/

.result {
    background-color: #d0d0d0;
    padding: 100px 10px 10px 10px;
}

.result__cards {
   display: flex;
   justify-content: space-between;
}
.result__card {
    display: flex;
    align-items: center;
    width: 350px;
    border-top: 1px solid #C0C0C0;
    padding: 20px 0;
    margin-right: 10px;
}
.result__card:last-child() {
    margin-right: 0;
}
.result__card_img {
    max-width: 160px;
}
.result__card img {
    margin-right: 20px;
}
.result__card h3 {
    font-size: var(--font-size-main);
    color: #666666;
    text-transform: uppercase;
}
.result__card p {
    font-size: var(--font-size-main);
    color: var(--font--color-main);
}
@media (max-width: 690px) {
    .result__card {
        flex-wrap: wrap;
    }
}

/* стили для About*/
.about {
    background-color: #d0d0d0;
    padding: 100px 10px 150px 10px;
}
.about__content {
    display: flex;
    justify-content: space-between;
}
.about__img {
    width: 730px;
    height: 564px;
}
.about__img img{
    width: 100%;
}
.about__discription {
    width: 350px;
}

.about__discription h2 {
    font-weight: var(--font-weight-main);
    font-size: var(--font-size-subHeader);
    color: #666666;
}
.about__discription p {
    font-size: var(--font-size-main);
    color: var(--font--color-main);
    line-height: 30px;
}
@media (max-width: 690px) {
    .about {
        padding: 50px 10px 50px 10px;
    }
}
/* Стили для Товаров */
.goods {
    background-color: #FFFFFF;
    padding: 50px 0;
}
.goods__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 400;
    padding: 0 30px;
}
.goods__card {
    width: 255px;
    min-width: 200px;
    margin-right: 10px;
    padding: 20px 0;
}
.goods__card img{
    width: 100%;
    margin-bottom: 20px;
}
.goods__card h3 {
    font-size: 30px;
    color: #666666;
    margin-bottom: 5px;
}
.goods__card span {
    font-size: var(--font-size-info);
    color: #B5B5BD;
}
.goods__card p {
    font-size: var(--font-size-main);
    color: #85859B;
    line-height: 30.6px;
}
.goods__card a {
    display: flex;
    font-size: var(--font-size-link);
    color: var(--font--color-accent);
    text-decoration: none;
    transition: var(--transition);
}

.goods__card a i {
    display: block;
    padding: 2px;
}
.goods__card a:hover {
    color: #4946B4;
}
/* Стили для спонсоров*/

.sponsors {
    background-color: #EBEBEB;
    padding: 100px 0;
}
.sponsors__inner {
    display: flex;
}
.sponsor__logo {
    max-width: 255px;
    margin: 0 10px;
}

/* Стили для preview */
.preview {
    padding: 60px 0 0 10px;
}
.preview__inner {
    display: flex;
}
.preview__img {
    width: 730px;
}
.preview__content {
    margin-right: 10px;
}
.preview__content h3 {
    font-size: var(--font-size-subHeader);
    font-weight: var(--font-weight-main);
    color: #666666;
}
.preview__content p {
    max-width: 350px;
    line-height: 30.6px;
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-main);
    color: #85859B;
}
@media (max-width: 690px) {
    .preview__content h3 {
        font-size: 30px;
    }
}
/* Стили для footer */

.footer {
    padding: 30px 10px;
    background-color: #4C5866;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__social {
    font-size: 18px;
    color: #FFFFFF;
}
.footer__social i {
    margin-right: 20px;
    transition: var(--transition);
}
.footer__social i:hover {
    cursor: pointer;
    color: #4946B4;    
}

/* Стили для кнопок */

button {
    text-align: start;
    padding: 25px 90px;
    margin: 10px 0;
    background: none;
    border: solid 1px var(--font--color-accent);
    color: var(--font--color-accent); 
    transition: var(--transition);
}
button:hover {
    background: #7875FE;
    border: solid 1px #7875FE;
    color: #ffffff; 
    cursor: pointer;
}
button:active {
    background: #4946B4;
    border: solid 1px #4946B4;
    color: #ffffff; 
    transition: 0.1s;
}
